.basic-layout {
  display: flex;
  flex-direction: column;
  padding: 45px 0 0 45px;

  @include breakpoint($desktop) {
    flex-direction: row;
  }
}

.layout-columns {
  display: flex;
  flex-direction: column;
  padding-left: 72px;
}
