.button {
  position: relative;
  background: $pigeonpost;
  color: #fff;
  @include font-size(25px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 180px;
  height: 60px;
  border: none;
  line-height: $line-height-default;
  @include transition(all 0.2s linear);
  border: 1px solid transparent;
  border-radius: 5px;

  &.default {
    background: $pigeonpost;
    border-color: $pigeonpost;
  }

  &.primary {
    background: $pigeonpost;
    border-color: $pigeonpost;
    color: #fff;
  }

  &:hover {
    background: darken($pigeonpost, 10%);
  }

  &:active,
  &:focus {
    top: 1px;
    opacity: 0.95;
  }
}
