.header-section {
  background: transparent;
  z-index: 1;
  position: relative;
  min-width: 350px;
}

.header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @include transition(all 0.15s linear);

  nav {
    @include font-size(25px);

    text-transform: uppercase;
    width: 100%;
    max-width: 670px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px;
    max-width: 200px;
    margin: 40px 0 0 0;

    a {
      position: relative;
      padding: 10px 0 10px 15px;
      margin: 5px 0;
      outline: none;
      text-decoration: none;
      color: $wedgewood;
      @include transition(all 0.5s);
      letter-spacing: -0.5px;
      z-index: 1;
      font-weight: 500;

      &:before,
      &:after {
        @include transition(all 0.5s);
      }

      &:hover,
      &:focus {
        outline: none;
        color: $wedgewood;
      }

      &:after {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        margin: auto;
        width: 0;
        height: 100%;
        content: '.';
        color: transparent;
        background: $glacier;
        visibility: none;
        opacity: 0;
        z-index: -1;
        border-radius: 0;
      }

      &:hover:after {
        opacity: 1;
        visibility: visible;
        height: 100%;
        width: 100%;
        // background: rgba($glacier, 0.25);
        background: linear-gradient(
          90deg,
          rgba($glacier, 0.25) 0%,
          rgba($glacier, 0.15) 40%,
          rgba(255, 255, 255, 0) 100%
        );
      }
    }
  }
}
