.header-section {
  background: transparent;
  z-index: 1;
  position: relative;
  min-width: 350px;
}

.header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @include transition(all 0.15s linear);
  padding: 0 $spacing-4rem $spacing-2rem $spacing-5rem;
  max-height: 250px;

  .flex-column {
    flex-direction: row;

    @include breakpoint($desktop) {
      flex-direction: column;
    }
  }

  nav {
    @include font-size(25px);
    text-transform: uppercase;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 0 $spacing-1rem 0;
    align-items: flex-end;

    @include breakpoint($desktop) {
      width: 60vw;
    }

    a {
      position: relative;
      padding: 10px 0 10px 15px;
      margin: 5px 25px;
      outline: none;
      text-decoration: none;
      color: $wedgewood;
      @include transition(all 0.15s);
      letter-spacing: -0.5px;
      z-index: 1;
      font-weight: 500;

      &:hover {
        color: $valhalla;
      }

      &.active {
        color: $valhalla;
        font-weight: 600;
      }
    }
  }
}

.logo {
  position: relative;
  top: $spacing-3rem;
  svg {
    max-width: 100px;
    @include breakpoint($desktop) {
      max-width: 80%;
    }
  }
}
