.home-section {
  position: relative;
}

.hero {
  padding: 20px 0 100px $spacing * 4;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  justify-content: space-between;

  @include breakpoint($desktop) {
    padding: 100px $spacing * 4;
    max-width: 80%;
  }

  @include breakpoint(1560px) {
    padding: 100px 0;
  }

  p {
    @include font-size(25px);
    color: darken($congressblue, 20%);
    line-height: $line-height-2;
  }
}
