.home-section {
  position: relative;
}

.hero {
  padding: 20px 0 100px 0;
  display: flex;
  flex-direction: column;
  max-width: 64%;
  min-height: 550px;
  justify-content: space-between;

  @include breakpoint($desktop) {
    padding: 100px 0;
    max-width: 60%;
  }

  p {
    @include font-size(25px);
    color: darken($congressblue, 20%);
    line-height: $line-height-2;
  }
}

.cards-container {
  box-shadow: $box-shadow-cards-container;
  position: relative;
}

.frosted-glass {
  box-shadow: 0 0 1rem 0 rgb(187, 209, 223);
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

.card {
  background: inherit;
  padding: 80px 60px;
  position: relative;

  &.secondary {
    background: $card-background-secondary;
    background: inherit;
  }

  img {
    box-shadow: $box-shadow-image;
  }

  p {
    @include font-size(20px);
    line-height: $line-height-2;
    color: $wedgewood;
    max-width: 30vw;
    padding: 1rem 0;
  }

  &.card-with-map {
    background: $card-background-primary
      url('../../../assets/images/Compass-Glass-Map-Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
  }

  &.card-with-query {
    p {
      padding: 0;
      margin: 0;
    }
  }
}
