*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body,
html {
  @include font-size(16px);
  font-family: $font-primary;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $blacksqueeze
    url('../../images/Compass-Glass-Gradient-Background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  width: 100%;
  max-width: $container;
  margin: 0 auto;
}

.section {
  width: $section;
  display: flex;
  justify-content: center;
}

address {
  padding: 25px 0;
  font-style: normal;

  h4 {
    margin-bottom: 1rem;
  }

  span,
  span a,
  address {
    @include font-size(18px);
    font-weight: 300;
    line-height: $line-height-default;
    text-decoration: none;
    padding: 0.1rem 0;
    display: block;
    color: $deepcerulean;

    @include breakpoint($laptop) {
      @include font-size(24px);
    }
  }

  address {
    padding: $spacing 0;
    max-width: 100%;
    @include font-size(20px);
    font-style: italic;

    @include breakpoint($laptop) {
      padding: $spacing 0 $spacing 0;
      max-width: 300px;
    }
  }
}

iframe {
  width: 100%;
  height: auto;
  min-height: 350px;
  border: none;
  @include breakpoint($laptop) {
    width: 400px;
    height: 350px;
  }
}

.icon-group {
  display: flex;
  justify-content: space-between;
}

.video-wrapper {
  position: relative;
}

.video-wrapper video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url('../../images/Compass-Glass-Background.jpg') no-repeat;
  background-size: cover;
}

.certifications-logos {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 40px 20px;
  border-bottom: 1px solid $blacksqueeze;

  @include breakpoint($laptop) {
    flex-wrap: nowrap;
    padding: 40px 60px;
  }

  img {
    max-width: 90%;
  }
}
