// Colours

$valhalla: #231d5e;
$congressblue: #00458e;
$mineshaft: #343434;
$topaz: #797585;
$deepcerulean: #006eb1;
$aliceblue: #fafdff;
$glacier: #80adc3;
$linkwater: #d4e2f5;
$blacksqueeze: #edf5f9;
$wedgewood: #577ca8;

$card-background-primary: rgba(250, 253, 255, 0.92);
$card-background-secondary: rgba(255, 255, 255, 0.92);

// Box Shadows

$box-shadow-header: 0px 1px 5px $linkwater;
$box-shadow-cards-container: -80px -60px 70px rgba(185, 211, 230, 0.2);

// Fonts

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol' !default;
$font-family-base: $font-family-sans-serif !default;
$font-primary: 'Open Sans', $font-family-base;

// Lineheight

$line-height-default: 1.5;
$line-height-1-8: 1.8;
$line-height-2: 2;

// Spacing

$spacing-10: 10px;
$spacing-15: 15px;
$spacing-20: 20px;

// Breakpoints

$mobile: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;
$huge: 1440px;

// Container Width

$section: 100%;
$container: $huge;
