// Colours

$valhalla: #231d5e;
$congressblue: #00458e;
$mineshaft: #343434;
$topaz: #797585;
$deepcerulean: #006eb1;
$aliceblue: #fafdff;
$glacier: #80adc3;

// Container Width

$section: 100%;
$container: 1440px;
