.footer-section {
  background: $congressblue;
}

.footer {
  color: #80adc3;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  padding: 0 $spacing * 4;

  p {
    color: $pigeonpost;
    @include font-size(18px);
  }

  .icon-group {
    min-width: 145px;
  }
}
